@SOURCE_PATH@/src/include			/include
- *.h

@SOURCE_PATH@/src/cli	         		/include
- *.h

@BUILD_PATH@/src/core				/lib
- libcluster.a

@BUILD_PATH@/src/cli				/lib
- libcli.a

@BUILD_PATH@/src/cli				/bin
- cli

@BUILD_PATH@/src/gui/src			/bin
- zkuiserver

@BUILD_PATH@/src/gui/conf			/conf
- config.xml

@SOURCE_PATH@/misc				/conf
- log4cxx.cfg
