@SOURCE_PATH@/src/include			/include
- *.h

@SOURCE_PATH@/src/cli	         		/include/cli
- *.h

@SOURCE_PATH@/src/activenode        		/include/activenode
- *.h

@SOURCE_PATH@/unittests	        		/include/unittests
- *.h

@BUILD_PATH@/src/core				/lib
- libcluster.a

@BUILD_PATH@/src/cli				/lib
- libcli.a

@BUILD_PATH@/src/activenode			/lib
- libactivenode.a

@BUILD_PATH@/unittests				/lib
- libunittests.a

@BUILD_PATH@/src/cli				/bin
- cli

@BUILD_PATH@/src/gui/src			/bin
- zkuiserver

@BUILD_PATH@/src/gui/conf			/conf
- config.xml

@SOURCE_PATH@/misc				/conf
- log4cxx.cfg

@SOURCE_PATH@/unittests				/scripts
- unittestsHelper.pl.in
